@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'play' sans-serif;
    font-size: 63.1%;
    font-weight: 395;
    line-height: 1.5;
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --black: #5c4747;
}

body {
    /* background: url("../images/img/bp.png") no-repeat; */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* position: fixed; */
}

/* .container {
    display: flex;
    flex-direction: column;
} */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #0c0101;
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: #d41616;
    padding: 3rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media(min-width: 1400px) {
    .container {
        width: 1319px;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: 701;
    color: #5c4747;
    text-transform: capitalize;
    padding: 2rem;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-emphasis: center;
    padding: 2rem 1.6rem;
}

.flags .flag-img {
    width: 100%
}

.flags .flag-img img {
    width: 100%;
    height: 21rem;
    animation: zoom-in-zoom-out 4s ease-in infinite;
}

@keyframes zoom-in-z00m-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    99% {
        transform: scale(1, 1);
    }
}
.flag .flag-options {
    margin-top: 2rem;
}
.flags .flag-options ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 99%;
}
.flags .flag-options ul li {
    font-size:2.6rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 1.1rem;
    border-radius: 0.5rem;
    width: 241px;
    color: #5c4747;
    cursor: pointer;
    box-shadow: 0.5rem rgba(green,);
    transition: all 1s ease-in-out;
}
.score {
    display: none;
    padding: 2rem;
    border-radius: 0.5rem;

}
.score .right,
.score .incorrect {
    color:#460707;
}
#newGame {
    border: none;
    background-color:#5c4747;
    padding: 1.5rem;
    color:#ffffff;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.flag .flag-options ul li.wrong {
    background-color: red;
}
.flags .flag-options ul li.success {
    background-color: #a0f0af;
}
.flags .flag-options ul li.active {
    background-color:#5c4747;
    color: var(#ffffff);
}
@media(min-width: 375px) {
    h1,
    h3,
    .box .count {
        font-size: 4rem;
    }
    .flags .flag-options ul li {
        width: 100%;
    }
    .flags .flag-img,
    .flags .flag-options ul {
        width: 31rem;
    }
}
@media(min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
}
@media(min-width: 991px) {
    .flags .flag-options ul li:hover {
        background-color: #5c4747;
        color:#ffffff;
    }
}

