@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-family: 'play' sans-serif;
    font-size: 63.1%;
    font-weight: 395;
    line-height: 1.5;
    scroll-behavior: smooth;
}
:root {
    --white:#ffffff;
    --black:#aaaaaa;
}

body {
    background: url(../img/bg.png)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: fixed;
}



